:root {
  --big-cube-size: 200px;
  --big-cube-distance: 200px;
}

.cube {
  position: relative;
  width: var(--big-cube-size);
  height: var(--big-cube-size);
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animateD 8s linear infinite;
}

@keyframes animateD {
  0% {
    transform: rotateX(-15deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(-15deg) rotateY(-360deg);
  }
}

.cube div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube2 {
  position: relative;
  width: calc(var(--big-cube-size) / 2);
  height: calc(var(--big-cube-size) / 2);
  transform-style: preserve-3d;
  animation: animateD2 7s ease-out infinite alternate;
}

@keyframes animateD2 {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(180deg) rotateY(-360deg);
  }
}

.cube2 div {
  position: absolute;
  top: 35px;
  left: 0;
  width: 65%;
  height: 65%;
  transform-style: preserve-3d;
}

.cube2 div span {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 65%;
  height: 65%;
  background: transparent;
  border: 2px solid #7dff99;
  transform: rotateY(calc(90deg * var(--i))) translateZ(62px);
}

.cube3 {
  position: absolute;
  width: var(--big-cube-size);
  height: var(--big-cube-size);
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animateD3 2s ease-in-out infinite alternate;
}

@keyframes animateD3 {
  0% {
    transform: rotateX(-90deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(90deg) rotateY(45deg);
  }
}

.cube3 div {
  position: absolute;
  top: 70px;
  left: 70px;
  width: 15%;
  height: 15%;
  transform-style: preserve-3d;
}

.cube3 div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7dff99;
  transform: rotateY(calc(90deg * var(--i))) translateZ(14px);
  box-shadow: 0px 0px 7px #7dff99;
}

.top3 {
  position: absolute;
  top: 0;
  left: 0;
  background: #7dff99;
  transform: rotateX(90deg) translateZ(14px);
  box-shadow: 0px 0px 10px #7dff99;
}



/*  */

.button-3d {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 1.06em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #c90076;
    border: none;
    border-radius: 0.25em;
    box-shadow: 0 0.15em 0.3em rgba(0, 0, 0, 0.3);
    transform: perspective(1em) rotateX(-1deg) rotateY(1deg);
    transition: all 0.2s ease-in-out;
  }
  
  .button-3d:hover {
    transform: perspective(1em) rotateX(-3deg) rotateY(3deg) translateY(-0.05em);
    background-color: #c90076;
    box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.3);
  }
  
  .button-3d:focus,
  .button-3d:active {
    transform: perspective(1em) rotateX(-3deg) rotateY(3deg) translateY(-0.05em);
    background-color: #e74c3c;
    box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.3);
    outline: none;
  }
  /*  */
  .button-4d {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 1.06em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #1b1b1b;
    border: none;
    border-radius: 0.25em;
    box-shadow: 0 0.15em 0.3em rgba(0, 0, 0, 0.3);
    transform: perspective(1em) rotateX(-1deg) rotateY(1deg);
    transition: all 0.2s ease-in-out;
  }
  
  .button-4d:hover {
    transform: perspective(1em) rotateX(-3deg) rotateY(3deg) translateY(-0.05em);
    background-color: #1b1b1b;
    box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.3);
  }
  
  .button-4d:focus,
  .button-4d:active {
    transform: perspective(1em) rotateX(-3deg) rotateY(3deg) translateY(-0.05em);
    background-color: #e74c3c;
    box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.3);
    outline: none;
  }