@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;500&display=swap");

body {
  /* width: 100%; */
  min-height: 100vh;
  /* background: #212121; */
  background: #0c0c0c;
  font-family: "Roboto Mono", monospace;
}

#canvas-twisted {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: -1;
}

::selection {
  background-color: transparent;
  color: #c90076;
}

::-webkit-scrollbar {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
